{% include 'updown.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="">
                <div>
                    <input type="file" name="" id="">
                    <br>
                    <br>
            
                </div>
                <div>
                    <button class="btn btn-primary" type="submit"> yükle</button>
            
                </div>
                
            </form>
        </div>
        <div class="col">
            <form action="">
                <div>
                    <input type="file" name="" id="">
                    <br>
                    <br>
            
                </div>
                <div>
                    <button class="btn btn-primary" type="submit"> yükle</button>
            
                </div>
                
            </form>
        </div>

    </div>
    
    



</div>



<br>
<br>
<br>
<br>

<hr>
{% include 'backdown.html' %}
