<!DOCTYPE html>
{%load static%}
<html lang="tr">


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PORTALGO BORSA YAPAY ZEKASI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.9.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://kit.fontawesome.com/88b9f5cd5c.js" crossorigin="anonymous"></script>
</head>


<body>
  

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="d-flex align-items-center justify-content-lg-between numara" style="background-color: black;">
      <a  style="margin:auto"href="tel:+90 546 646 93 06"><p style="color: rgb(255, 255, 255); ">*********<b> NUMARAMIZ &nbsp;İLE&nbsp; İLETİŞİME &nbsp;GEÇİN   &nbsp; &nbsp; &nbsp;   +90 546 646 93 06</b> &nbsp; !!!! **********</p></a>
      

    </div>
    <div class="container d-flex align-items-center justify-content-lg-between">
      

      <h1 class="logo me-auto me-lg-0"><a href="index.html">PGO<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">ANASAYFA</a></li>
          <li><a class="nav-link scrollto" href="index.html">HAKKIMIZDA</a></li>
          <li><a class="nav-link scrollto" href="index.html">SIKÇA SORULAN SORULAR</a></li>
          <li><a class="nav-link scrollto " href="index.html">GALERİ</a></li>
          <li><a class="nav-link scrollto" href="SATIN-AL.html">SATIN AL</a></li>
          <li class="dropdown"><a href="giris-kayit.html"><span>GİRİŞ YAP || KAYIT OL</span> </a>
            <!-- <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">İLETİŞİM</a></li>
        </ul> -->
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="İNDİRME.html" class="get-started-btn scrollto">PORTALGO İNDİR</a>

    </div>
  </header><!-- End Header -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://wa.me/+905466469306" class="float" target="_blank"> <i class="fa-brands fa-whatsapp my-float">
    
    <!-- <i class="wp-font"><b>WhatsApp İletişim</b> </i>  -->
  </i>
    <p class="wp-font"><B>WHATSAPP <br> İLETİŞİM</B> </p>
    
  </a>